<%= error_messages_for 'location' %>

<!--[form:location]-->
<p><label for="location_name">Name</label><br/>
<%= f.text_field 'name'  %></p>
<p><label for="location_street">Street</label><br/>
<%= f.text_field 'street'  %></p>
<p><label for="location_city">City</label><br/>
<%= f.text_field 'city'  %></p>
<p><label for="location_zip">Zip</label><br/>
<%= f.text_field 'postal_code'  %></p>
<p><label for="location_state">State</label><br/>
<%= f.text_field 'state'  %></p>


<!--[eoform:location]-->


